:root {
  --font-serif: "EB Garamond", serif;
  font-size: 16px;
  font-family: var(--font-serif);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-stone-100;
  @apply text-stone-900;
}

body.grid {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 7px,
      rgba(0, 0, 0, 0.1) 8px,
      rgba(0, 0, 0, 0) 8px
    ),
    linear-gradient(
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 15px,
      rgba(0, 0, 0, 0.2) 16px
    );
  background-position: top;
  background-size: 1px 16px;
  z-index: 3000;
}

.grid .sub-grid {
  opacity: 1;
}

.bl-1 {
  @apply relative top-[1px];
}
.bl-2 {
  @apply relative top-[2px];
}
.-bl-1 {
  @apply relative -top-[1px];
}
.-bl-2 {
  @apply relative -top-[2px];
}
